@charset "ISO-8859-1";

body {
  font-family: 'Lato', sans-serif;
  color: #202020;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}

td, th {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}

td {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}

th {
  background-color: #4ECDC4;
}

tr:nth-of-type(even) td {
  background-color: #9fd3ce; /* lighten(#4ECDC4, 35%) */
}

.total th {
  background-color: white;
}

.total td {
  text-align: right;
  font-weight: 700;
}
